<!-- <div ng-include="'components/navbar/navbar.html'"></div> -->

<header class="hero-unit" id="banner">
  <div class="container">
    <h1>Hospital Helper</h1>
    <p class="lead">Where patient need meets speed.</p>
    <!-- <img src="assets/images/yeoman.png" alt="I'm Yeoman"> -->
  </div>
</header>

<div class="container">
  <div class="row">
    <form class="form-signin col-md-4 col-lg-4 col-sm-6" ng-class="{'hide-signin' : regOpen}">
      <h2>Please sign in</h2>
      <label for="inputUser" class="sr-only">Username</label>
      <input type="text" id="inputUser" class="form-control" placeholder="Username" required="" autofocus="">
      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>
  </div>
  <div class="row reg-sec">
    <p>No username? <button class="btn btn-md btn-secondary" ng-click="toggleReg()">Register</button></p>
    <form class="form-register col-md-4 col-lg-4 col-sm-6" ng-class="{'hide-signin' : !regOpen}">
      <h2>Welcome - who are you?</h2>
      <label for="inputRegName" class="sr-only">Your name</label>
      <input type="text" id="inputRegName" class="form-control" placeholder="Your name" required="" autofocus="">
      <label for="inputRegUser" class="sr-only">Desired username</label>
      <input type="text" id="inputRegUser" class="form-control" placeholder="Username" required="" autofocus="">
      I am a:
      <label class="radio-inline">
        <input type="radio" name="inlineRadioOptions" id="radioPatient" value="radioPatient">Patient
      </label>
      <label class="radio-inline">
        <input type="radio" name="inlineRadioOptions" id="radioStaff" value="radioStaff">Staff member
      </label>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
    </form>
  </div>
  <!-- <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Features:</h1>
      <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="task in tasks">
        <li><a href="#" tooltip="{{task.info}}">{{task.name}}<button type="button" class="close" ng-click="deleteTask(task)">&times;</button></a></li>
      </ul>
    </div>
  </div>

  <form class="thing-form">
    <label>Syncs in realtime across clients</label>
    <p class="input-group">
      <input type="text" class="form-control" placeholder="Add a new task here." ng-model="newTask">
      <span class="input-group-btn">
        <button type="submit" class="btn btn-primary" ng-click="addTask()">Add New</button>
      </span>
    </p>
  </form> -->
</div>
<!--
<footer class="footer">
  <div class="container">
      <p>David Drayton</p>
  </div>
</footer>
 -->
