.thing-form {
    margin: 20px 0;
}

.staff-options {
  height: 58px;
  opacity: 1;
  margin-bottom: 15px;
}

.patient-options {
  height: 190px;
  opacity: 1;
}

.patient-options.hide-sec-add,
.patient-options.hide-sec-remove,
.staff-options.hide-sec-add,
.staff-options.hide-sec-remove,
.hide-signin-add,
.hide-signin-remove {
  -webkit-transition:all cubic-bezier(0.1, 0.2, 0.2, 0.4) 0.9s;
  -moz-transition:all cubic-bezier(0.1, 0.2, 0.2, 0.4) 0.9s;
  -o-transition:all cubic-bezier(0.1, 0.2, 0.2, 0.4) 0.9s;
  transition:all cubic-bezier(0.1, 0.2, 0.2, 0.4) 0.9s;
  overflow: hidden;
}

#banner {
    border-bottom: none;
    margin-top: -20px;

    h1 {
      font-size: 60px;
      line-height: 1;
      letter-spacing: -1px;
    }
}

input, button {
  margin-bottom: 15px;
}

form {
  float: none;
  margin: 0 auto;

  &.form-register {
    height: 472px;
  }
}

.form-signin {
  float: none;
  height: 165px;
  overflow: hidden;
}

.form-register.hide-signin-add,
.patient-options.hide-sec,
.staff-options.hide-sec,
.hide-signin,
.hide-sec,
.hide-signin-add.hide-signin-add-active {
  height: 0px;
  opacity: 0;
  overflow: hidden;
}

.hide-signin-remove.hide-signin-remove-active {
  opacity: 1;
}

.side-rails {
  padding: 0 15px 0 15px;
}

.bg-danger {
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  padding: 4px;
  text-align: center;
  font-weight: bold;
}

.centered {
  margin: 0 auto;
  float: none;
}

.reg-sec {
  margin-top: 15px;
  text-align: center;

  form {
    margin: 0 auto;
    float: none;

    p {
      font-weight: bold;
    }

    input, select {
      margin-bottom: 15px;
    }

    .choose-type {
      label {
        padding-left: 10px;

        &:first-of-type {
          margin-right: 20px;
        }
      }
    }
  }
}

.hero-unit {
    position: relative;
    padding: 30px 15px;
    color: #F5F5F5;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    background: #4393B9;
}
