<!-- <div ng-include="'components/navbar/navbar.html'"></div> -->

<header class="hero-unit" id="banner">
  <div class="container">
    <h1>Hospital Helper</h1>
    <p class="lead">Where patient need meets speed.</p>
    <!-- <img src="assets/images/yeoman.png" alt="I'm Yeoman"> -->
  </div>
</header>

<div class="container">
  <div class="row">
    <form name="signinForm" class="form-signin col-md-4 col-lg-4 col-sm-6" ng-class="{'hide-signin' : regOpen}">
      <h2>Please sign in</h2>
      <label for="inputUser" class="sr-only">Username</label>
      <input ng-model="loginUsername" name="username" type="text" id="inputUser" class="form-control" placeholder="Username" required>
      <button class="btn btn-lg btn-primary btn-block" type="submit" ng-disabled="signinForm.$invalid">Sign in</button>
    </form>
  </div>
  <div class="row reg-sec">
    <p>{{registerPrompt}} <button class="btn btn-md btn-default" ng-click="toggleReg()">{{registerBtnTxt}}</button></p>
    <form name="regForm" class="form-register col-md-4 col-lg-4 col-sm-6" ng-class="{'hide-signin' : !regOpen}">
      <h2>Welcome!</h2>
      <label for="inputRegName" class="sr-only">Your name</label>
      <input
        ng-model="newUser.regName"
        type="text"
        id="inputRegName"
        class="form-control"
        placeholder="Your name"
        required />
      <label for="inputRegUser" class="sr-only">Desired username</label>
      <input
        ng-model="newUser.regUsername"
        type="text"
        id="inputRegUser"
        class="form-control"
        placeholder="Username"
        required />

      <div class="choose-type">
        <p>I am a:</p>
        <input
          ng-model="newUser.role"
          required
          name="user-type"
          type="radio"
          id="radio-staff"
          value="staff" />
        <label for="radio-staff" class="radio-inline">Staff member</label>
        <input
          ng-model="newUser.role"
          required
          name="user-type"
          type="radio"
          id="radio-patient"
          value="patient" />
        <label for="radio-patient" class="radio-inline">Patient</label>
      </div>

      <div class="patient-options" ng-class="{'hide-sec' : newUser.role === 'staff'}">
        <label for="patient-doctor">Who is your doctor?</label>
        <select
          ng-model="newUser.patientDoctor"
          ng-required="newUser.role === 'patient'"
          id="patient-doctor"
          class="form-control">
          <option value="{{user.name}}" ng-repeat="user in users | filter:'doctor'">
            {{user.name}}
          </option>
        </select>
        <label for="patient-nurse">Who is your nurse?</label>
        <select
          ng-model="newUser.patientNurse"
          ng-required="newUser.role === 'patient'"
          id="patient-nurse"
          class="form-control">
          <option value="{{user.name}}" ng-repeat="user in users | filter:'nurse'">
            {{user.name}}
          </option>
        </select>
        <label for="patient-room" class="sr-only">Room number</label>
        <input
          ng-model="newUser.patientRoom"
          type="number"
          name="roomnumber"
          id="patient-room"
          class="form-control"
          min="1"
          placeholder="Room number"
          ng-required="newUser.role === 'patient'">
      </div>
      <div
        class="staff-options"
        ng-class="{'hide-sec' : newUser.role === 'patient'}">
      <label for="position">What is your position?</label>
        <select
          ng-model="newUser.position"
          ng-required="newUser.role === 'staff'"
          id="position"
          name="position"
          class="form-control">
          <option value="doctor">Doctor</option>
          <option value="nurse">Nurse</option>
          <option value="floor staff">Floor staff</option>
        </select>
      </div>
      <button class="btn btn-lg btn-primary btn-block" type="submit" ng-disabled="regForm.$invalid">Register</button>
    </form>
  </div>
  <!-- <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Features:</h1>
      <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="task in tasks">
        <li><a href="#" tooltip="{{task.info}}">{{task.name}}<button type="button" class="close" ng-click="deleteTask(task)">&times;</button></a></li>
      </ul>
    </div>
  </div>

  <form class="thing-form">
    <label>Syncs in realtime across clients</label>
    <p class="input-group">
      <input type="text" class="form-control" placeholder="Add a new task here." ng-model="newTask">
      <span class="input-group-btn">
        <button type="submit" class="btn btn-primary" ng-click="addTask()">Add New</button>
      </span>
    </p>
  </form> -->
</div>
<!--
<footer class="footer">
  <div class="container">
      <p>David Drayton</p>
  </div>
</footer>
 -->
